@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --color-main-green: #84b234;
  --color-main-green-light: #dff2bf;
  --color-main-green-dark: #65940e;
  --color-main-green-shade2: #8d917726;
  --color-main-green-shade1: #8d917712;
  --color-main-green-shade0: #8d917700;
}
