<aside
  class="bg-main-green-light fixed py-[5px] px-[20px] sm:py-0 sm:px-0 flex items-center justify-center w-[100%] h-[60px] sm:w-[100px] sm:h-[100%] border-black border-solid border-b-1 sm:border-r-1 sm:border-b-0 overflow-auto z-0"
>
  <div
    class="relative w-[100%] flex flex-col sm:flex-row items-center justify-center text-center"
  >
    <h1
      class="w-auto sm:absoulte sm:rotate-[-90deg] sm:origin-center sm:whitespace-nowrap text-2xl left-[60px]"
    >
      Serena Indij da Costa
    </h1>
  </div>
</aside>
